# =========================
# Android Studio / Gradle
# =========================
.gradle/
.gradle-user-home/
.gradle-build-home/
local.properties
/build/
/app/build/
/*/build/

# =========================
# IntelliJ / Android Studio
# =========================
.idea/
*.iml
*.ipr
*.iws

# =========================
# Archivos generados / temporales
# =========================
captures/
.externalNativeBuild/
.cxx/
out/
.navigation/
*.log
*.tmp
*.swp
*~

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# NDK
# =========================
obj/

# =========================
# Keystores y claves sensibles
# =========================
*.jks
*.keystore
*.p12
*.pem